html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

p {
    font-size: 20px;
 }
 
button {
     padding: 7px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     display: inline-block;
     font-size: 15px;
}

li {
    font-size: 20px;
}

div {
    margin-bottom: 50px;
}